.tracking-in-expand {
	-webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    text-align: center;
}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
.topnav {
    background-color: #020711;
    overflow: hidden;
    margin: auto;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav h2{
    margin: 0;
    float: left;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;   
}

.centerbalck {
  background-color: rgb(0, 0, 0);
  margin: auto;
  padding: 60px 60px;
  width: 650px;
  height: 200px;
}

.centerbalck button{
 text-decoration: none;
 font-size: 17px;
 text-align: center;
 padding: 5px 10px;
 border-radius: 20px;
 color: gray;
}

.centerbalck a{
    float: right;
    color: #6520d4ea;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-style: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Box {
	-webkit-animation: Box 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s both;
            animation: Box 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s both;    
}

 @-webkit-keyframes Box {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes Box {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  